.tabsContainer {
  width: 100%;
  height: 50px;
}

.buttonsContainer {
  height: 100%;
}
button {
  filter: opacity(50%);
}
.buttonsContainer button {
  width: 33%;
  height: 100%;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  font-family: sans-serif;
}

button:hover {
  background-color: #a3a3c2;
}

.tabPanel {
  width: 99%;
  height: 650px;
  filter: opacity(50%);
  color: white;
  text-align: center;
  padding-top: 100px;
  box-sizing: border-box;
  font-size: 20pt;
  font-family: sans-serif;
  display: none;
  background-image: url('batman.jpg');
}

.searchContainer {
  width: 100%;
  height: 50px;
  display: inline-block;
}

.searchText {
  width: 35%;
  height: 50px;
  font-size: 20pt;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  
}

.searchButton{
  width: 4%;
  height: 50px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.settingsBox button {
  width: 100px;
  height: 100px;
  outline: none;
  border: none;
  cursor: pointer;
}
#here {
  width: 1000px;
  height: 100px;
}




