#wrapper {
  width: 1440px;
  height: 750px;
  background: url(../images/background2.jpg);
  background-size: cover;
}

.tabsContainer {
  width: 1440px;
  height: 100px;
}

.buttonsContainer {
  height: 100px;
}

.buttonsContainer button {
  width: 300px;
  height: 80px;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 20px;
  background-color: #B2B2B1;
  float: left;
  border-image-outset: 10px;
  outline: none;
  cursor: pointer;
  font-size: 25pt;
  font-family: 'Baloo Chettan', cursive;
  font-weight: bold;
  border-radius: 20px;
  color: white;

}

button:hover {
  background-color: #a3a3c2;
}

.tabPanel {
  width: 1440px;
  height: 520px;
  color: white;
  outline: none;
  text-align: center;
  border: none;
  margin: 0;
  padding-top: 100px;
  box-sizing: border-box;
  font-size: 20pt;
  font-family: sans-serif;
  display: none;

  background-size: cover;
}

.searchContainer {
  width: 1440px;
  height: 50px;
  margin-top: 50px;
  display: inline-block;
  text-align: center;
}

.searchBar {
  display: inline-block;
  left: 50%;
  top: 8px;
  width: 500px;
  height: 65px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

input {
  position: absolute;
  width: 400px;
  height: 60px;
  left: 50px;
  margin-top: 4px;
  margin-left: 450px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-size: 20pt;
  font-weight: 400;
}

#msg {
  width: 400px;
  height: 200px;
  margin-left: 520px;
  margin-top: 50px;
  color: black;
  font-family: 'Baloo Chettan', serif;
  font-size: 30pt;
}
#results {
  width: 500px;
  height: 400px;
  margin-left: 470px;
  margin-top: -30px;
  margin-bottom: -10px;
  float: left;
}

ul#listBox {
  background-color: white;
  width: 460px;
  height: auto;
  max-height: 400px;
  list-style: none;
  display: inline-block;
  overflow-y: scroll;
  overflow-x: hidden;

}

li {
  width: 472px;
  height: 70px;
  float: left;
  margin-left: -40px;
  background: white;
  text-align: left;
  text-indent: 20px;
  display: none;

}
li:hover {
  background-color: #a3a3c2;
}

.add {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  font-size: 25pt;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  float: left;
}
.add:hover {
  background-color: grey;
}
p {
  font-size: 20pt;
  width: 420px;
  height: 70px;
  color: black;
  text-decoration: none;
  line-height: 15px;
  float: left;
}

.optionsBox {
  width: 1440px;
  height: 70px;
}

.optionsBox button {
  width: 400px;
  height: 50px;
  border-radius: 20px;
  font-size: 20pt;
  font-family: 'Baloo Chettan', cursive;

}
