#wrapper {
  width: 1440px;
  height: 750px;
  background: url(background2.jpg);
  background-size: cover;
}

.tabsContainer {
  width: 1440px;
  height: 100px;
}

.buttonsContainer {
  height: 100px;
}

.buttonsContainer button {
  width: 300px;
  height: 80px;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 20px;
  background-image: url(/public/images/buttonsBG.png);
  float: left;
  border-image-outset: 10px;
  outline: none;
  cursor: pointer;
  font-size: 25pt;
  font-family: 'Baloo Chettan', cursive;
  font-weight: bold;
  border-radius: 20px;
  color: white;

}

button:hover {
  background-color: #a3a3c2;
}

.tabPanel {
  width: 1440px;
  height: 520px;
  color: white;
  outline: none;
  text-align: center;
  border: none;
  margin: 0;
  padding-top: 100px;
  box-sizing: border-box;
  font-size: 20pt;
  font-family: sans-serif;
  display: none;

  background-size: cover;
}

.searchContainer {
  width: 1440px;
  height: 50px;
  margin-top: 50px;
  display: inline-block;
  text-align: center;
}

.searchFieldBox {
  width: 700px;
  height: 50px;
  display: inline-block;
  margin-right: -9px;
  padding: 0;
}

.searchField {
  width: 700px;
  height: 50px;
  margin: 0;
  padding: 0;
  font-size: 20pt;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

}

.searchButtonBox {
  display: inline-block;
  width: 60px;
  height: 50px;
  margin: 0;
  padding: 0;
}

.searchButton {
  width: 50px;
  height: 50px;
  font-size: 20pt;
  border: 0;
  padding: 0;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border: 1px solid black;
}

#resultsPanel {
  width: 660px;
  height: 350px;
  background-image: url(/public/images/resultsBG.png);
  border: 10px;
  border-image-outset: 10px;
  margin-top: 2px;
  transform: translateX(370px);
  display: none;
  filter: opacity(80%);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.resultsBox {
  width: 660px;
  height: 50px;
  display: block;
}

.resultsText {
  width: 60%;
  height: 50px;
  line-height: 36pt;
  text-align: left;
  margin-left: 15%;
  float: left;
  display: inline;
}

.addMinusBox {
  width: 25%;
  height: 50px;
  font-size: 10pt;
  float: left;
  display: inline;
}

#resultsPanel button {
  width: 40px;
  height: 30px;
  font-size: 30pt;
  margin-top: 10px;
  line-height: 0;
}

.blank {
  width: 100%;
  height: 50px;
  display: block;
}

#settingsContainer {
  width: 1440px;
  height: 200px;
}

.settingsBox {
  width: 50px;
  height: 70px;
}

.settingsBox button {
  width: 100px;
  height: 100px;
  color: white;
  margin-left: 20px;
  margin-top: -00px;
  border-image-outset: 20px;
  background-image: url(/public/images/buttonsBG.png);
  outline: none;
  font-size: 10pt;
  border-radius: 50%;
}

.optionsBox {
  width: 1440px;
  height: 70px;
}

.optionsBox button {
  width: 400px;
  height: 50px;
  border-radius: 20px;
  font-size: 20pt;
    font-family: 'Baloo Chettan', cursive;

}
