#page {
  box-sizing: content-box;
  width: 90%;
  height: auto;
  border: 3px solid black;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-size: 20pt;
}

#menu {
  width: 100%;
  height: 9vw;
  background-color: gainsboro;
}

.menu-button {
  padding-top: .1em;
  padding-bottom: .1em;
  float: left;
  margin-top: 2vw;
  margin-left: 1.66%;
  margin-right: 1.66%;
  width: 30%;
  background-color: beige;
  text-align: center;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: gainsboro;
}

#content {
  background-color: bisque;
  width: 100%;
  height: 760px;
  position: ;
}

/*************** Fridge *********************/
#fridge-section {
  box-sizing: border-box;
  width: 66%;
  height: 100%;
  float: left;
  background-color: burlywood;
  padding: 10%;

}

#fridge {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 5%;
  background-color: aliceblue;
}

.fridge-block {
  box-sizing: border-box;
  background-color: white;
  width: 100px;
  height: 100px;
  border: 1px black solid;
  margin: 5px;
  display: inline-block; 
  padding: 25px;
}

.fridge-block:hover{
  background-color: darkgrey;
}

/*************** Right side *********************/
#rightSide {
  float: right;
  width: 34%;
  height: 100%;
  background-color: brown;
}
/**************** Info box****************/
#infoBox {
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  background-color: antiquewhite;
  padding: 10px;
}
#ingredientName {
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  height: 10%;
  margin-bottom: 5px;
}
#ingredientInfo {
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  height: 70%;
  margin-bottom: 5px;
}
.button {
  box-sizing: border-box;
  background-color: grey;
  width: 49%;
  height: 18%;
  display: inline-block;
}
#discard {
  float: right;
}




#pot {
  width: 100%;
  height: 50%;
  background-color: chocolate
}
